
{% extends "layout.html" %}
  
{% block body %}
<h3>Edit song</h3>
<form method="POST" action="{{ url_for('songs_edit', song_id = song.id) }}">
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="new_name">{{ form.new_name.label }}</label>
    </div>
    <div class="form-group col-sm-4">
      {{ form.new_name(class="form-control", placeholder=song.name) }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="new_artist">{{ form.new_artist.label }}</label>
    </div>
    <div class="form-group col-sm-4">
      {{ form.new_artist(class="form-control", placeholder=song.artist) }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-3">
      <label for="notes">{{ form.chords.label }}</label>
      <small id="notesHelpBlock" class="form-text text-muted">
          Multiple chords can be selected by holding control / command down on Desktop
      </small>
    </div>
    <div class="form-group col-sm-3">
        {{ form.chords(class="form-control", size="6") }}
    </div>
  </div>
  {% if form.new_name.errors %}
    {% for error in form.new_name.errors %}
    <div class="row alert alert-danger" role="alert">
       {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  {% if form.new_artist.errors %}
    {% for error in form.new_artist.errors %}
    <div class="row alert alert-danger" role="alert">
       {{ error }}
    </div>
    {% endfor %}
  {% endif %}
  <div class="form-row">
    <div class="form-group col-sm-3">
        <input type="submit" value="Update song" class="btn btn-success" />
    </div>
  </div>
</form>
{% endblock %}
