{% extends "layout.html" %}

{% block body %}
  <table class="table table-hover table-striped">
    {% if not songs %}
    <tr>
        <td>No songs added. Please add one!</td>
    </tr>
    {% else %}
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Artist</th>
        <th scope="col">Added by</th>
      </tr>
    </thead>
      {% for song in songs %}
      <tr>
        <td><a href="{{ url_for('get_song', song_id=song.id) }}">{{ song.name }}</a></td>
        <td>{{ song.artist }}</td>
        <td>{{ users[song.account_id] }}</td>
      </tr>
      {% endfor %}
     {% endif %}
  </table>

  <div class="row">
    <div class="col-auto">
        <a href="{{ url_for('songs_form') }}" class="btn btn-outline-success">Add new song</a>
    </div>
  </div>
{% endblock %}
