{% extends "layout.html" %}

{% block body %}
<h3>Browse chords</h3>
  <table class="table">
    {% if not chords %}
    <tr>
        <td>No chords added. Please add one!</td>
    </tr>
    {% else %}
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Name</th>
        <th scope="col">Added by</th>
        <th scope="col">Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for chord in chords %}
      <tr>
        <td>{{ chord.key.title() }}</td>
        <td>{{ chord.name.title() }}</td>
        <td>{{ users[chord.account_id] }}</td>
        <td>
          {% if chord.id == selected_chord_id %}
              {% for note in selected_chord_notes %}
                  {{ note.name.title() }}
              {% endfor %}
          {% else %}
            <form method="GET" action="{{ url_for('chord_show_notes', chord_id=chord.id) }}">
              <input type="submit" value="Show" class="btn btn-outline-success" />
            </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
     </tbody>
     {% endif %}
  </table>

  <div class="row">
    <div class="col">
        <a href="{{ url_for('chords_form') }}" class="btn btn-outline-success">Add new chord</a>
    </div>
  </div>
{% endblock %}
