{% extends "layout.html" %}
  
{% block body %}
<h3>Add new chord</h3>
<div class="alert alert-info">
Add new chord by giving it's key, name and notes used in chord separated by commas. Form values could be for example "c", "major", and "c, e, g".
</div>
<h3>Chord values</h3>
<form method="POST" action="{{ url_for('chords_create') }}">
  <div class="form-row">
    <div class="form-group col">
      <label for="key">{{ form.key.label }}</label>
    </div>
    <div class="form-group col">
      <label for="name">{{ form.name.label }}</label>
    </div>
    <div class="form-group col">
      <label for="notes">{{ form.notes.label }}</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
        {{ form.key }}
    </div>
    <div class="form-group col">
        {{ form.name }}
    </div>
    <div class="form-group col">
        {{ form.notes }}
    </div>
    <div class="form-group col">
        <input type="submit" value="Add a new chord" class="btn btn-success" />
    </div>
  </div>
</form>
{% endblock %}
